$main-color: #0085FF;
$bg-color: #fff;
$color-yellowgreen: rgb(171, 230, 143);
$color-cyan: rgb(16, 172, 190);
$main-bg: linear-gradient(
    60deg, $color-yellowgreen, $color-cyan);
$secondary-bg: #fff;

$text-light: #fff;
$text-dark: #222;

:host {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    min-height: 150px;

    border-radius: 8px;
    border-left: 2px solid $color-yellowgreen;
    border-right: 2px solid $color-cyan;

    .top-line {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 32px;
        padding: 10px;

        background: $main-bg;

        .widget-name {
            font-weight: 700;
        }
    }

    .content {
        height: 100%;
        padding: 10px;
        color: $text-dark;
        background: $secondary-bg;

        .currency-title {
            font-size: 1rem;
        }

        .date-time {
            font-size: 0.9rem;
        }

        .currency-value-line {
            margin-top: 8px;
        }
    }

    .bottom-line {
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: space-between;

        height: 24px;
        padding: 10px;

        background: $main-bg;
    }

    .icon {
        height: 24px;
        width: 24px;

        &.draggable {
            background-image: url("../../../assets/draggable.svg");
            background-size: cover;
            cursor: grab; // растопыреная рука 
            // cursor: grabbing; //сжатая рука
        }

        &.resize {
            background-image: url("../../../assets/resize.svg");
            background-size: cover;
            cursor: nwse-resize; // диагональная стрека в две стороны 
        }

        &.add {
            background-image: url("../../../assets/resize.svg");
            background-size: cover;
            cursor: nwse-resize; // диагональная стрека в две стороны 
        }
    }
}