.header, .main, footer {
  display: flex;
}
.left-side, .right-side {
  width: 300px;
}
.logo {
  background-image: url(../assets/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 150px;
  width: 150px;
}