
<header class="full-width header">
  <div class="left-side">
    
    <div class="logo"></div>
  </div>
  <nav class="navigation">
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
  </nav>
</header>

<main class="full-width main">
  <div class="left-side">
     <widget-currency-value></widget-currency-value>
  </div>

    <div class="content">
    {{title}}
    <router-outlet />
    
  </div>
  <div class="divider" role="separator" aria-label="Divider"></div>
  
  <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      
    </div>
</main>

<footer class="full-width footer">
  <div class="left-side">
    
    <div class="logo"></div>
  </div>
  <nav class="navigation">
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
    <a href="#">Навигация</a>
  </nav>
  <div class="right-side"></div>
</footer>


